{% extends 'base.html' %} {% block title %}
<title>Категории</title>
{% endblock title %}
<p>{%block content %} 
   <header class="header category_del">
      <h1>{{ title }}</h1>
      <h2>Ваше объявление удалено!</h2>
      <section class="category category_del">
        <!-- <a href="{% url 'core:category_all' %}" class="all-category"
          >Перейти к просмотру всех категорий</a
        > -->
        {% if categories %}
        <ul>
          {% for category in categories %}
          <li>
            <a href="{% url 'core:category_detail' category.id %}"
              >{{ category.category_name }}</a
            >
          </li>
          <li>{{ category.description }}</li>
         
          {% endfor %}
        
        </ul>
        {% endif %}
      </section>
      <a href="{% url 'core:all_posts' %}" class="posts"
        >Перейти к просмотру всех объявлений</a
      >
    
      <a href="{% url 'core:post_create' %}" class="post-create"
        >Cоздать объявление</a
      >
     
      <a href="{% url 'core:index' %}"> На главную </a>
    </header>
    <!--  /HEADER -->
    <main></main>
    <!--  /MAIN -->
    <footer></footer>
    <!--  /foooter -->
  {% endblock content%}</p>
